---
layout: default
---

<div class="section">
  <div class="space-30"></div>
  <h1 style="text-align: center">Digital Agriculture Club of Purdue</h1>
  <img src="/assets/divider.png" />
  <div
    class="column-color-light"
    style="
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;
    "
  >
    <h2>Spring 2025 Meeting Time</h2>
    <h3>Every Thursday 6 pm @ LILY G458</h3>
  </div>
</div>

<div class="section">
  <div class="gallery">
    <div class="column-color-light" style="flex: 1; align-self: center">
      <h2 style="text-align: center; color: #000000">
        Can't attend the meeting?
      </h2>
      <p style="margin-bottom: 0; text-align: center">
        Scan the QR or <a href="https://discord.gg/4ExXCXHGUv">click here</a> to
        join our Discord and stay updated <br /><br />
        All skill levels, majors, undergraduates & graduates are welcome!
      </p>
    </div>
    <div class="column-color" style="min-width: 150px; max-width: 250px">
      <img src="/assets/discord-QR.png" />
    </div>
  </div>
</div>

<div class="space-30"></div>

<div class="section">
  <div class="gallery">
    <div class="column-transparent" style="width: 300px">
      <div
        style="
          height: 150px;
          width: 150px;
          background-image: linear-gradient(#ffd686, #ffa030);
          border-radius: 50%;
          margin: auto;
          margin-bottom: 20px;
        "
      ></div>
      <h2>Are you interested in...</h2>
      tinkering with tech, agriculture, connecting with peers, and having fun?
    </div>

    <div class="column-transparent" style="width: 300px">
      <div
        style="
          height: 150px;
          width: 150px;
          background-image: linear-gradient(#ffd686, #ffa030);
          border-radius: 50%;
          margin: auto;
          margin-bottom: 20px;
        "
      ></div>
      <h2>Do you want to learn...</h2>
      skills like programming, modeling, IoT? And how to apply it to
      agriculture?
    </div>

    <div class="column-transparent" style="width: 300px">
      <div
        style="
          height: 150px;
          width: 150px;
          background-image: linear-gradient(#ffd686, #ffa030);
          border-radius: 50%;
          margin: auto;
          margin-bottom: 20px;
        "
      ></div>
      <h2>Itching to solve...</h2>
      real world problems affecting the food and ag system?
    </div>
  </div>
</div>

<div class="space-30"></div>

<div class="section">
  <h1 style="text-align: center">Current Projects</h1>

  <div class="gallery">
    {% for project in site.data.projects %} {% if project.status == "In
    progress" or project.status == "Coming soon" %}
    <div class="column-color" style="width: 450px">
      <h2>{{ project.title }}</h2>
      <img
        src="{{ project.image | relative_url }}"
        alt="{{ project.title }}'s image"
        class="avatar"
      />
      <img
        style="margin-top: -8px; height: 25px; width: 25px"
        src="/assets/brain.png"
      />
      {% assign random_skills = project.skills | sample: 4 %} {% for skill in
      random_skills %}
      <div class="green-button">{{ skill }}</div>
      {% endfor %} {% if project.skills.size > 4 %} {% assign extra_skills =
      project.skills.size | minus: 4 %}
      <a
        style="color: #000000; font-size: 14px"
        href="{{ project.permalink | relative_url }}"
        >+{{ extra_skills }} more skill(s)...</a
      >
      {% endif %}

      <p style="margin-top: 20px">{{ project.summary }}</p>

      <div class="read-more">
        <a href="{{ project.permalink | relative_url }}">Read more >></a>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
</div>
