/* Headers, links, body */

h1, h2, h3, h4 {
    font-family: 'Archivo Black', sans-serif; 
    color: #04a777;
}

h5 {
    font-weight: bold;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
}

p.bold {
    font-weight: 600;
}

a {
    font-family: 'IBM Plex Sans', sans-serif; 
}

/* Project cards */

.card .btn-primary {
    font-family: courier new;
    font-size: 14px;
    color: #4e4e4e;
    background-color: #f7f7f7;
    padding: 4px 7px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 1px 0 rgb(0 0 0 / 20%), 0 0 0 1px #fafafa inset, 0 0 0 1px #fff inset;
    margin: 10px;
    vertical-align: bottom; 
    width: 50%;

}

.card {
    height: 350px;
}

.card-body {
    max-height:4350px;
    overflow-y:auto;
    margin: 0;
    padding: 0;
}

.card-body img {
   height: 160px;
   object-fit: cover;
}

.card-title, .card-text {
    margin: 0;
    padding: 10px;
}

.badge {
    margin: 5px 0px 10px 0px;
}

/* Responsive columns */

* {
    box-sizing: border-box;
  }
  
  /* Create two columns (one 55%, one 45% of the width) that floats next to each other */
  .two-column-55 {
    float: left;
    width: 55%;
    padding: 10px;
  }

  .two-column-45 {
    float: left;
    width: 45%;
    padding: 10px;
  }

  /* Create three equal columns that floats next to each other */
  .three-column {
    float: left;
    width: 33%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 699px) {
    .three-column {
      width: 100%;
    }
  }

  @media (max-width: 1000px) {
    .two-column-55, .two-column-45 {
      width: 100%;
    }
  }

  @media (min-width: 700px) and (max-width: 1200px) {
    .three-column {
      width: 50%;
    }
  }

/* Footer */
#footer {
    background-color: #eee;
    margin-top: 150px;
}

.footer-content {
    width: 75%;
    margin: auto;
    padding: 30px 0px 60px 0px;
}
